<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
    <!-- 検索フォーム -->
    <form>
      <%= render 'search', q: @q, url: bookmarks_boards_path %>
    </form>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="row">
      <% if @bookmark_boards.present? %>
        <%= render partial: "board", collection: @bookmark_boards %>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end%>

      </div>
    </div>
  </div>
</div>

<%= paginate @bookmark_boards, theme: 'twitter-bootstrap-4' %>